.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: rgb(174, 23, 23);}
nav li a{color: rgb(15, 11, 135)}

body{
    background-color: rgb(128, 105, 255);
    color: rgb(71, 218, 23);

}
